body, h1,h2,h3,h4,h5,h6 {font-family: Verdana, Geneva, Tahoma, sans-serif; text-decoration-style: solid;}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}

.vid {
    position: relative;
    width: 70%;
    height: auto;
}

@media (max-width: 480px) {
    #vid {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 768px) {
    #vid {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 1024px) {
    #vid {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 1200px) {
    #vid {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 1201px) {
    #vid {
        width: 100%;
        height: auto;
    }
}